<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>private home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/list.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <div class="headline">
            <h2><center>hello i am going to create new one </center></h2><br/>
        </div>

            <!-- TODO id를 조만간 no로 바꿀 것 -->
        <div class="showList">
            <% for(var i=0; i<posts.length; i++) {%>
            <div class="post" postId=<%=posts[i]._id%>>
                <a href="/post/show/<%=posts[i]._id%>">
                    <!--<div class="postNum">-->
                        <!--<%= posts[i].no%>-->
                    <!--</div>-->
                    <p class="title"><%= posts[i].title%></p>
                    <p class="writer">WRITER<%= posts[i].user%></p>
                </a>
            </div>
            <% } %>

        </div>
        <div class="searchTab">
            <input type="text" placeholder="search tag" class="search" />
        </div>
        <div class="write"><%=userName%></div>

        <div class="page">
            <div class="left pagePointer">
                <div class="pBox">
                    <p class="arrow"><</p>
                </div>
            </div>

            <div class="right pagePointer">
                <div class="pBox">
                    <p class="arrow">></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>