<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>private home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/list.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
<<<<<<< HEAD
        <div class="titleImg">
            <img src="/images/desk.jpg" class="title"/>
            <div class="searchTab">
                <input type="text" placeholder="search tag" class="search" />
            </div>
=======
        <div class="headline row">
            <h2><center>hello i am going to create new one </center></h2><br/>
>>>>>>> d8d2b4a
        </div>

            <!-- TODO id를 조만간 no로 바꿀 것 -->
        <div class="showList row">
            <% for(var i=0; i<posts.length; i++) {%>
            <div class="post col-lg-12" postId=<%=posts[i]._id%>>
                <a href="/post/show/<%=posts[i]._id%>">
                    <!--<div class="postNum">-->
                        <!--<%= posts[i].no%>-->
                    <!--</div>-->
                    <p class="title col-lg-10"><%= posts[i].title%></p>
                    <p class="writer col-lg-2">WRITER<%= posts[i].user%></p>
                </a>
            </div>
            <% } %>

        </div>
        <div class="row">
            <div class="searchTab col-lg-2">
                <input type="text" placeholder="search" class="search" />
            </div>
        </div>
        <div class="row">
            <div class="pagination col-lg-12">
                <ul class="pagination">
                    <li><a href="#" class="arrow"><</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>