<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>private home</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/post.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <container>
        <div class="contents">
            <div class="titleBox">
                <p class="title"><%=post.title%></p>
            </div>
            <div class="content">
                <p class="date">WRITER<br/> <%=post.date%></p>
                <p class="written">
                    <%=post.content%>
                </p>
            </div>
            <div class="actions">
                <button>목록</button>
                <button>수정</button>
                <button>삭제</button>
            </div>
            <div class="tags">
                <%for(var i = 0; i< post.tag.length; i++){%>
                    <span class="tag">#<%=post.tag[i]%></span>
                <%}%>
            </div>


            <div class="comments">
                <% for(var i =0; i< comments.length; i++){

                    if(comments[i].parent) continue;

                %>

                    <div class="comment" id="<%=comments[i]._id%>">
                        <span class="user"><%=comments[i].userName%></span>
                        <span class="said"><%=comments[i].content%></span><br/>
                        <span class="commentDate"><%=comments[i].date%></span>

    <!--populate로 해결이 가능한 문제인가? 아니 그걸 떠나서 이 방법이 되긴 해야하는데. 왜 안되는지 모르겠다.-->

                    </div>
                <%}%>

            </div>
            <div class="sendComment">
                <!-- comment input box-->
                <form method="post" action="/post/addComment">
                    <input type="userName" class="userName" placeholder="name" value="<%=userName%>"/>
                    <input type="text" class="commentBox" name="content" placeholder="comment"/>
                    <input type="hidden" name="post" value="<%=post._id%>"/>
                    <input type="submit" value="send comment"/>
                </form>

            </div>


        </div>
    </container>

</body>
</html>